*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-color: #10102c;
}

.header{
    background-color: #1f1f4e;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
}

.logo img{
    margin-top: -50px;
}

.header h1{
    width: 100px;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    color: white;
    padding: 20px;
    font-size: 2rem
}

.nav ul li:hover{
    opacity: 0.5;
}

.logo{
    margin-left: 150px;
}

a{
    text-decoration: none;
}

.main{
    margin: 30px 0;
}

.main-header{
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 40px 0;
}

.lastNews{
    display: flex;
    justify-content: space-around;
}

.news{
    padding: 10px;
}

.news h1{
    text-align: center;
    font-size: 2.5rem;
    color: blanchedalmond;
}

.news p{
    font-size: 2rem;
    color: white;
    text-align: center;
}

.games-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.games-container .game span{
    text-align: center;
    color: #38a11e;
    font-size: 3rem;
    padding: 10px;
    display: block;
}

.games-container .game p{
    background-color: #070710;
    text-align: center;
    color: #2d96e9;
    font-size: 3rem;
    border: 2px black solid;
    border-radius: 20px;
    padding: 10px 50px;
}

/*Statistics section*/

.statistics-section{
    background-color: #010164;
    width: 100%;
    padding: 30px 0;
}

#golden-ball{
    color: gold;
}

.statistics-container{
    display: flex;
    justify-content: space-around;
}

.statistics-item{
    border: 3px solid #0000cd;
    border-radius: 10px;
    box-shadow: 0 10px 10px blue;
    padding: 15px 15px;
    display: grid;
}

.statistics-item{
    flex-grow: 1;
    margin: 0 20px;
}

.statistics-item--table-container{
    display: inline-block;
}

.statistics-item--table tr{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    margin: 5px 0;
    width: 100%;
}

.statistics-item--table th{
    font-size: 2rem;
    color: #02adff;
}

.statistics-item--table td{
    font-size: 1.6rem;
    width: 50%;
    margin: 0 10px;
}

/* Tranfers Styles */

.main--transfers-section{
    padding: 40px 0;
}

.main--transfers-title{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

.main--transfers-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.main--transfer-title{
    background-color: blue;
    padding: 5px 5px;
}

.main--official-transfers, .main--rumour-transfers{
    margin: 0 40px;
    width: 300px;
    height: 300px;
}

.main--transfer-container{
    border: 1px solid blue;
    display: grid;
    grid-template-areas: 'players       teams'
}

#contentTitlePlayer{
    grid-area: contentTitlePlayer;
}

#contentTitleTeam{
    grid-area: contentTitleTeam;
}

.main--tranfer-players{
    grid-area: players;
}

.main--tranfer-teams{
    grid-area: teams;
}

.situation-title{
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
}

.main--tranfer-content{
    padding: 10px 10px;
}

.main--transfer-player, .main--transfer-team{
    color: #0000cd;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 0;
}